# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# FVM Version Cache
.fvm/
# Sensitive files
tlc_private.key
tlc_request.csr
fix_ios.py
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Duplicate flutter files
*\ *.podspec
*\ *.xcconfig
*\ *.sh
*\ *.lock
*.zip

# Odoo files (not Flutter)
tlc_attendance_control/
tlc_attendance_control*/

# iOS build
ios/build/
ios/Podfile.lock
ios/Podfile\ *.lock
ios/ExportOptions.plist

# Flutter duplicates
.flutter-plugins\ *
.flutter-plugins-dependencies\ *
