<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>TLC HR</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>TLC HR</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>NSFaceIDUsageDescription</key>
	<string>This app uses Face ID / fingerprint for check in and check out</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<!-- Photo Library -->
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to your photo library to upload and share images.</string>

	<!-- Camera -->
	<key>NSCameraUsageDescription</key>
	<string>This app uses the camera to capture photos for your profile or documents.</string>

	<!-- Location (When In Use) -->
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app uses your location to provide location-based services.</string>

	<!-- Location (Always & When In Use) -->
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app may use your location to support background location features.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>This app uses your local network to connect to nearby services and improve connectivity.</string>
	<key>NSBonjourServices</key>
	<array/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>